<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dragablz" version="0.0.3.155" targetFramework="net452" />
  <package id="Elysium.Theme" version="2.0.4" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.0.0" targetFramework="net452" />
  <package id="MaterialDesignColors" version="1.1.1" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="1.2.0.339" targetFramework="net452" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.4" targetFramework="net452" />
</packages>